li {
    display: inline;
    margin: 0px 25px 0px 25px;
    text-align: center;
}

.header-padre {
    margin: 40px 20px 0 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

.header-padre > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
}

.barra-nav{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.login{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.login > * {
    margin-left: 10px;
    margin-right: 10px;
}

.login a {
    color: #67b54b;
}

.login button{
    color: white;
    background-color: #67b54b;
    padding : 14px 14px 12px 12px;
    border-radius: 5px;
    border: 0;
}

a {
    text-decoration: none;
}

.main h3 {
    text-align: center;
    font-weight: 100;
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: #025157;
    font-size: 50px;
}
body{
    background-color: #fffbf7;
}